extends ../layouts/navigation-layout.pug

block navigationContent
    div.container
        form(action=`/admin/products/${product._id}/edit`, method="POST").mt-5
            input(type="hidden", name="uuid", value=`${product._id}`)

            div.mb-3
                label(for="productName").form-label Product Name
                input(aria-describedby="productName", name="productName", value=`${product.name}`)#productName.form-control
            div.mb-3
                label(for="productDescription").form-label Product Description
                input(aria-describedby="productDescription", name="productDescription", value=`${product.description}`)#productDescription.form-control
            div.mb-3
                label(for="productCategory").form-label Product Category
                div.row
                    each category in categoryList
                        div.col.d-flex.flex-column.align-items-center
                            input(type='checkbox', name='productCategories', value=`${category.id}`, checked=category.selected)
                            p #{category.name}
            div.mb-3
                label(for="productPrice").form-label Product Price
                input(aria-describedby="productPrice", name="productPrice", value=`${product.price}`)#productPrice.form-control
            div.mb-3
                label(for="productImage").form-label Product Image Url
                input(aria-describedby="productImage", name="productImage", value=`${product.image}`)#productImage.form-control
                div.form-text
                    p Example Url: 
                        span.fw-bold https://picsum.photos/128/128?random=1
            button(type="submit").btn.btn-primary Update Product