extends ../layouts/main-layout.pug

include ../mixins/product-card.pug

block content 
    if(action !== 'undefined' && action === 'edit')
        if(status !== 'undefined' && status === 'successful')
            div.alert.alert-success The product has been updated.
        else 
            div.alert.alert-danger The product has not been updated.

    .row 
        if productList.length > 0
            table.table.table-bordered 
                thead 
                    tr 
                        th Name 
                        th Price 
                        th Image 
                tbody 
                    each product in productList 
                        tr 
                            td #{product.name}
                            td #{product.price} TRY
                            td 
                                img(src=`${product.image}`, width='80px')
                            td 
                                a(href=`/admin/products/${product.uuid}/edit`).btn.btn-success.btn-sm Edit
                                a(href=`/admin/products/${product.uuid}/details`).btn.btn-primary.btn-sm.ms-2 Details

        else 
            h1 No Product           
                        