extends ../layouts/navigation-layout.pug

block navigationContent 
    div.container.mt-5
        if orderList.length > 0
            each order in orderList
                div.card.mb-5
                    div.card-header
                        h3 Order ##{order.id}
                    table.table.align-middle
                        thead
                            tr
                                th Product Image
                                th Product Name
                                th Product Price
                                th Quantity
                        tbody
                             each orderItem in order.items
                                 tr
                                     td
                                         img(src=`${orderItem.image}`, width='80').img-fluid
                                     td #{orderItem.name}
                                     td #{orderItem.price}
                                     td #{orderItem.quantity}
                        tfoot
                            tr
                                td(colspan="2") #{order.created_at.toDateString()}
                                td
                                td.fw-bold #{order.totalPrice} TRY
        else
            h1 No Orders