mixin cartItem(item)
    tr 
        td #{item.name}
        td
            div.d-flex.justify-content-between
                form(action='/cart/item/quantity/increase', method='POST')
                    input(type='hidden', name='cartItemId', value=`${item.id}`)
                    button(type='submit').btn.btn-primary.rounded-circle +
                span #{item.quantity}
                form(action='/cart/item/quantity/decrease', method='POST')
                    input(type='hidden', name='cartItemId', value=`${item.id}`)
                    button(type='submit').btn.btn-primary.rounded-circle -
    
        td #{item.price}
        td.d-flex.gap-1
            form(action=`/cart/item/delete`, method="POST")
                input(type='hidden', name='cartItemId', value=`${item.id}`)
                button(type="submit").btn.btn-danger.btn-sm Delete