mixin productCard(product)
    div.col-md-4
        div(style="width: 18rem;").card.my-3
            img(src=`${product.image}`, alt=`${product.description}`).card-img-top
            div.card-body
                h5.card-title #{product.name}
                p.card-text #{product.price} TR
                div.d-flex.d-row.justify-content-between
                    a(href=`/products/${product.uuid}/details`).btn.btn-primary Details
                    a(href=`/products/${product.uuid}/cart`).btn.btn-warning Add to Cart 